version: '3.1'
services:
  stats-server:
    build: ./stat_svc
    image: stat_svc_image
    container_name: stat_svc_container
    ports:
      - "9090:9090"
    depends_on:
      - stats-db

    restart: on-failure
    environment:
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
      - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5431/stats
      - POSTGRES_USER=su
      - POSTGRES_PASSWORD=password

  stats-db:
    image: postgres:14-alpine
    container_name: stats-db
    ports:
      - "6541:5431"
    volumes:
      - ewm-db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=stats
      - POSTGRES_USER=su
      - POSTGRES_PASSWORD=password

  ewm-service:
    build: ./ewm-service
    image: ewm-service_image
    container_name: ewm-service_container
    ports:
      - "8080:8080"
    depends_on:
      - ewm-db
    environment:
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
      - STATS_SERVER_URL=http://stats-server:9090
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ewm-db:5432/ewm
      - SPRING_DATASOURCE_USERNAME=su
      - SPRING_DATASOURCE_PASSWORD=password

  ewm-db:
    image: postgres:14-alpine
    container_name: ewm-db
    ports:
      - "6542:5432"
    volumes:
      - ewm-db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=ewm
      - POSTGRES_USER=su
      - POSTGRES_PASSWORD=password

volumes:
  stats-db:
  ewm-db: